body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.abs {
  position: absolute;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  -moz-transition-property: all;
  -moz-transition-duration: 2s;
  -moz-transition-timing-function: ease-in-out;
}

.zero {
  padding: 0px;
  margin: 0px;
}
